<div>
  <table border="0">
    <tr>
      <td>
        <label> Grower Name: </label>
      </td>
      <td>
        <label *ngIf="growerData; else noData">
          <input [(ngModel)]="growerData.name">
          </label>
        <ng-template #noData> None Selected </ng-template>
      </td>
    </tr>
    <tr>
      <td>
        <label> Grower Number </label>
      </td>
      <td>
        <input type="text" #growerNumber> <button type="button" (click)="openDialog()"> Find...</button>
      </td>
    </tr>
  </table>



</div>
